<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if .IsTranslated }}
<meta name="locale" content="{{ .Lang }}">
<meta name="og:title" content="{{ .Title }}">
{{ end }}
<meta name="twitter:title" content="{{ .Title }}">
{{ if .Description }}
<meta property="og:description" content="{{ .Description }}">
<meta name="description" content="{{ .Description }}">
<meta name="twitter:description" content="{{ .Description }}">
{{ end }}
<title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{{ with .Site.Params.highlight.style }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/{{ . }}.min.css">
{{ else }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
{{ end }}
